.main{
  text-align: center;
}

.user-list{
  display: block;
  width: max-content;
  margin: 0 auto;
}

.users, .photos, .posts{
  margin-bottom: 20px;
}

.todo{
  list-style: none;
}
.todo-item{
  display: block;
  width: 600px;
  margin: 0 auto;
  background-color: rgb(221, 231, 240);
  border-radius: 20px;
}